<template>
  <v-layout
    wrap
    row>
    <v-flex xs12>
      <v-select
        v-if="$route.params.id === 'new'"
        v-model="new_customer"
        :items="customers.map(c => c.name)"
        label="Cliente" />
      <span 
        v-if="$route.params.id !== 'new'"
        class="title">
        {{ customers.filter(c => c.id === remessa.customer)[0].name }}
      </span>  
      <v-select
        v-model="remessa.from"
        :items="destinations.map(d => d.name)"
        label="Local de Saída" />
      <v-btn 
        v-if="$route.params.id === 'new'"
        @click="create()">
        Criar
      </v-btn>
    </v-flex>
    <v-flex 
      v-if="$route.params.id != 'new'"
      xs12>
      <v-card>
        <v-toolbar dense>
          Pacotes
        </v-toolbar>
        <v-card-text>
          <v-layout>
            <v-flex 
              pa-1
              xs5>
              <v-select
                v-model="new_package_dest"
                :items="destinations.map(d => d.name)"
                label="Destino"/>
            </v-flex>
            <v-flex 
              pa-1
              xs4>
              <v-text-field
                v-model="new_package_weight"
                label="Peso" />
            </v-flex>
            <v-flex 
              pa-1
              xs1>
              <v-btn @click="addPackage()"><v-icon>add</v-icon></v-btn>
            </v-flex>
          </v-layout>
          <v-layout
            row
            wrap>
            <v-flex 
              v-for="(p, idxp) in remessa.packages"
              :key="idxp"
              xs3
              pa-1
            >
              <v-card light>
                <v-toolbar 
                  dense 
                  color="blue darken-4 white--text">
                  <span class="title">{{ p.destination }}</span>
                </v-toolbar>
                <v-card-text color="">
                  <span class="title">{{ p.weight }}g</span>
                </v-card-text>
              </v-card>
            </v-flex>
          </v-layout>
        </v-card-text>
      </v-card>
    </v-flex>

  </v-layout>
</template>

<script>
export default {
  asyncData ({app, route}) {
    var recordPromise = null;
    if(route.params.id === 'new') {
      recordPromise = Promise.resolve({ data: { packages: [] } } )
    } else {
      recordPromise = app.$axios.get('/orders/' + route.params.id)
    }

    return Promise.all([
      app.$axios.get('/customers'),
      app.$axios.get('/locations'),
      recordPromise
    ])
    .then(result => {
      return {
        customers: result[0].data,
        destinations: result[1].data,
        remessa: result[2].data
      }
    })
    .catch(error => {
      console.error("** Erro ao ler os dados:", error)
      return {

      }
    })
  },

  data () {
    return {
      new_package_dest: '',
      new_package_weight: 0,
      new_customer: ''
    }
  },

  methods: {
    create () {
      // Atualiza o cliente para ser o codigo
      this.remessa.customer = this.customers.filter(c => this.new_customer)[0].id
      this.$axios.post('/orders', this.remessa)
        .then(response => {
          this.$router.push('' + response.data.id)
        })
        .catch(error => console.log("Erro ao criar remessa:", error))
    },
    addPackage () {
      this.remessa.packages.push({
        id: new Date().getTime(),
        destination: this.new_package_dest,
        weight: parseInt(this.new_package_weight)
      })

      this.$axios.put('/orders/' + this.remessa.id, this.remessa)
        .then(response => {
          console.log('pacote atualizado:', response.data)
        })
        .catch(error => console.log("Erro ao criar remessa:", error))

      this.new_package_dest = ''
      this.new_package_weight = 0
    }
  }
}
</script>

<style>

</style>
